.title-1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #616467;

    + * {
        margin-left: 40px;
    }
}
.title-1--primary {
    font-weight: 700;
}
.title-2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    
    color: #000000;
}
.title-3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    
    color: #000000;
}
.title-4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    
    color: #000000;
}